body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    background-color: #7f8c8d;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
}

#question-container {
    margin-bottom: 20px;
}

#next-btn {
    background-color: #2ecc71;
}

#next-btn:hover {
    background-color: #27ae60;
}
.geografija {
    background-image: url('geografija.jpg'); /* Put do tvoje slike za Geografiju */
}

.matematika {
    background-image: url('matematika.jpg'); /* Put do tvoje slike za Matematiku */
}

.istorija {
    background-image: url('istorija.jpg'); /* Put do tvoje slike za Istoriju */
}
body {
    background-image: url('main-page1.png');
    background-size: cover;
    background-position: center;
}

.theme-selection {
    background-image: url('main-page1.png');
    background-size: cover;
    background-position: center;
}
